@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Teko&display=swap');


.slider {
	width:100%;
	margin:auto;
	overflow: hidden;
}

.slider ul{
	display: flex;
	padding:0;
	width: 500%;
	
	animation: cambio 25s infinite alternate;

}



@keyframes cambio {
	
	0% {margin-left:0;	}
	18% {margin-left:0;	}
	
	22% {margin-left:-100%;	}
	40% {margin-left:-100%;	}
	
	44% {margin-left:-200%;	}
	62% {margin-left:-200%;	}

	66% {margin-left:-300%;	}
	84% {margin-left:-300%;	}

	88% {margin-left:-400%;	}
	100%{margin-left:-400%;	}
}


.slider li{
	list-style:none;
	width:100%;
	
}

.slider img{
	width: 100%;
}


*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body{
	font-family: 'Lobster', cursive;
font-family: 'Teko', sans-serif;
background-color: #323234;
 color:rgb(198,165,66);
}

header{
	width: 100%;
	height: 100px;
	background: rgb(50,50,52);
	color:rgb(198,165,66);
	position: fixed;
	top:0;
	left:0;
	z-index: 100;
}

.contenedor1{
	width: 98%;
	margin:auto;
}

h1{
float:left;
}

h5{
    text-align: center;
}

header .contenedor1{
	display:table;
    
}
section{
	width:100%;
	margin-bottom:25px;
}

#bienvenidos{
	text-align:center;	
}

footer .contenedor1{
	display:flex;
	flex-wrap:wrap;	
justify-content: center;
	padding-bottom:25px;	
}

footer{
	background-color: #323234;
	
}


.copy{
	font-size:20px;
		color: white;
}

.sociales{
	width:100%;
	text-align:center;
	font-size:28px;	
	
}

.sociales a{
	color: white;
	text-decoration:none;
}


@media (min-width:768px){
	.sociales{
		width:auto;
	}

    
    footer .contenedor1{
		justify-content: space-between;
	}
    
   
}


@media (min-width:1024px){
	.contenedor1 {
		width:1000px;
	}	
}

